<ion-view title="Menú Principal" hide-back-button="true">
  <ion-content class="padding">
    <div class="row padding item">
      <div class="col divIcon item-avatar">
        <a ui-sref="evaluation"><h2>Evaluación</h2></a>
        <menu-icon ref="evaluation" img="./img/1.svg" description="Encuentra las pruebas que debes presentar según su asignatura"></menu-icon>
      </div>
      <div class="col divIcon item-avatar">
        <a ui-sref="selfEvaluation"><h2>Evalúate</h2></a>
        <menu-icon ref="selfEvaluation" img="./img/2.svg" description="Reta tu conocimiento y prepárate para tus pruebas"></menu-icon>
      </div>
    </div>
    <div class="row padding item">
      <div class="col divIcon item-avatar">
        <a ui-sref="resultsInstitutes"><h2>Resultados</h2></a>
        <menu-icon ref="resultsInstitutes" img="./img/3.svg" description="Revisa el puntaje en poco tiempo y la retroalimentación para mejorar"></menu-icon>
      </div>
      <div class="col divIcon item-avatar">
        <a ui-sref="indicators"><h2>Promedio</h2></a>
        <menu-icon ref="indicators" img="./img/4.svg" description="Conoce los avances de tus conocimientos"></menu-icon>
      </div>
    </div>
    <div class="row padding item">
      <div class="col divIcon item-avatar">
        <a ui-sref="configurations"><h2>Configuraciones</h2></a>
        <menu-icon ref="configurations" img="./img/5.svg" description="Configura tu aplicación"></menu-icon>
      </div>
      <div class="col divIcon item-avatar">
        <a ui-sref="logout"><h2>Cerrar Sesión</h2></a>
        <menu-icon ref="logout" img="./img/9.svg" description="Cierra esta sesión"></menu-icon>
      </div>
    </div>
  </ion-content>
</ion-view>
