<ion-view title="Registro" hide-back-button="false">
  <ion-content class="padding" no>
    <form class="list" name="registryUserForm"
            ng-submit="registrar($event, user, registryUserForm)"
            novalidate>
      <label for="id" class="item item-input item-stacked-label">
        <span class="input-label">Número de documento</span>
        <input name="id" type="number"  aria-describedby="registro-user-document" ng-model="user.id" required >
        <p id= "registro-user-document" class="aria-description">Digite su número de documento</p>
        <span ng-show="validate(registryUserForm, 'id')" class="text-assertive">Tiene que ser un número</span>
      </label>
      <label for="name" class="item item-input item-stacked-label">
        <span class="input-label">Nombres</span>
        <input name="name" type="text"  aria-describedby="registro-user-name" ng-model="user.names" required >
        <p id= "registro-user-name" class="aria-description">Digite su nombre</p>
        <span ng-show="validate(registryUserForm, 'name')" class="text-assertive">Campo obligatorio</span>
      </label>
      <label for="lastName" class="item item-input item-stacked-label">
        <span class="input-label">Apellidos</span>
        <input name="lastName" type="text" aria-describedby="registro-user-surname" ng-model="user.last_name"  required >
        <p id="registro-user-surname" class="aria-description">Digite sus apellidos</p>
        <span ng-show="validate(registryUserForm, 'lastName')" class="text-assertive">Campo obligatorio</span>
      </label>
      <label for="birth_date" class="item item-input item-stacked-label">
        <span class="input-label">Fecha de nacimiento</span>
        <input name="birth_date" type="number"  aria-describedby="registro-user-birthdate"  ng-maxlength="8" ng-minlength="8" ng-model="user.birth_date" placeholder="aaammdd" required >
        <p id="registro-user-birthdate" class="aria-description">Debe diligenciar la fecha de nacimiento en el formato Año(4 caracteres),Mes(2 caracteres),Día (2 Caracteres). sin espacios ni guiones</p>
        <span ng-show="validate(registryUserForm, 'birth_date')" class="text-assertive">Fecha de nacimiento no válida</span>
        <span ng-show="user.birth_date > maxDate" class="text-assertive">Fecha de nacimiento no válida</span>

      </label>
      <label for="gender" class="item item-input item-stacked-label">
        <span class="input-label" tabindex="0">Género</span>
        <ion-radio name="gender" ng-repeat="gender in genders" ng-model="user.gender_id" ng-value="{{gender.id}}" name="disabilities" required tabindex="0">{{gender.description}}</ion-radio>
        <span ng-show="validate(registryUserForm, 'gender')" class="text-assertive">Campo obligatorio/span>
      </label>
      <label for="disabilitie" class="item item-input item-stacked-label">
        <span class="input-label" tabindex="0">Condición visual</span>
        <ion-radio name="disabilitie" ng-repeat="disabilitie in disabilities" ng-model="user.evaluee.disability_id" ng-value="{{disabilitie.id}}" name="disabilities" required tabindex="0">{{disabilitie.description}}</ion-radio>
        <span ng-show="validate(registryUserForm, 'disabilitie')" class="text-assertive">Campo obligatorio/span>
      </label>
      <label for="type" class="item item-input item-stacked-label">
        <span class="input-label" tabindex="0">Tipo de usuario</span>
        <ion-radio name="type" ng-repeat="type in types" ng-model="user.evaluee.evaluee_type" ng-value="{{type.id}}" name="types" required tabindex="0">{{type.description}}</ion-radio>
        <span ng-show="validate(registryUserForm, 'type')" class="text-assertive">Campo obligatorio/span>
      </label>
      <label for="level" class="item item-input item-stacked-label">
        <span class="input-label" tabindex="0">Nivel de formación</span>
        <ion-radio name="level" ng-repeat="level in levels" ng-model="user.evaluee.level_id" ng-value="{{level.id}}" name="levels" required tabindex="0">{{level.description}}</ion-radio>
        <span ng-show="validate(registryUserForm, 'level')" class="text-assertive">Campo obligatorio/span>
      </label>
      <label for="email" class="item item-input item-stacked-label">
        <span class="input-label" tabindex="0">Correo</span>
        <input name="email" ng-pattern="/^[a-z][\w.-]+@\w[\w.-]+\.[\w.-]*[a-z][a-z]$/i" type="email" aria-describedby="registro-user-mail" ng-model="user.mail"  required >
        <p id ="registro-user-mail" class="aria-description">Digite su correo</p>
        <span ng-show="validate(registryUserForm, 'email')" class="text-assertive">Tiene que ser un correo válido</span>
      </label>
      <label name="password" class="item item-input item-stacked-label"  required>
        <span class="input-label">Contraseña</span>
        <input name="password" type="password"  ng-minlength="6" aria-describedby="registro-user-id" ng-model="user.password"  required >
        <span id ="registro-user-id" class="aria-description">Digite su contraseña</span>
        <span ng-show="validate(registryUserForm, 'password')" class="text-assertive">Tiene que tener mínimo 6 carácteres</span>
      </label>
      <label name="password2" class="item item-input item-stacked-label"  required>
        <span class="input-label">Repite la contraseña</span>
        <input name="password2" type="password" aria-describedby="registro-user-id" ng-model="user.password2"  required >
        <span id ="registro-user-id" class="aria-description">Por último, repita su contraseña</span>
        <span ng-show="(user.password != user.password2) && registryUserForm.password2.$dirty" class="text-assertive">Las contraseñas no coinciden</span>
      </label>

      <h5 style="text-align: center" ng-show="registryUserForm.$invalid || (user.password != password2) || user.birth_date > maxDate" class="text-assertive">Tu formulario contiene campos inválidos</h5>
      <input type="submit" class="button button-block button-inci" value="Registrar">
        <!-- ng-disabled="registryUserForm.$invalid || (user.password != password2)" -->
    </form>
  </ion-content>
</ion-view>
