<ion-view title="Acerca de">
    <ion-content class="padding">

        <div class="card">
            <div class="item">
                <h1 class="text-center">Evaluon <small>1.0</small></h1>
            </div>
            <h4 class="text-center">Instituto Nacional Para Ciegos <br><small>©2014 - Derechos Reservados</small></h4>
            <p class="text-center">Tenga en cuenta que esta aplicación requiere
            acceso a internet y puede consumir recursos de su
            plan de datos</p>
            <br><br>

            <div class="row">
                <div class="col text-center"><img src="./img/logos/inci.png" class="img-responsive img-about"></div>
            </div>
            <div class="row">
                <div class="col text-center"><img src="./img/logos/mintic.jpg" alt="MinTic" class="img-responsive img-center img-about"></div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="text-center">
                        Johana Salinas Quintana <br>
                        Pablo Andres Dorado <br>
                        Carlos Sebastián Osorio <br>
                        <img src="./img/logos/bool.png" alt="Bool inc" class="img-responsive">
                    </p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
