<ion-view title="Cambiar contraseña">
  <ion-content class="padding">
    <form class="list" name="changePasswordForm" ng-submit="changePassword($event)">
      <label for="password1" class="item item-input">
        <span class="input-label" tabindex="-1">Nueva contraseña</span>
        <input name="password1" type="password" ng-minlength="6" aria-describedby="login-user-input-pass" ng-model="user.password1" required>
        <p id="login-user-input-pass" class="aria-description">Ingrese la nueva contraseña</p>
        <span ng-if="validate(changePasswordForm, 'password1')" class="text-assertive">Tiene que tener mínimo 6 carácteres</span>
      </label>
      <label for="password2" class="item item-input">
        <span class="input-label" tabindex="-1">Repite la contraseña</span>
        <input name="password2" type="password" aria-describedby="login-user-input-pass2" ng-model="user.password2" required>
        <p id="login-user-input-pass2" class="aria-description">Ingrese de nuevo la nueva contraseña</p>
        <span ng-if="(user.password1 != user.password2) && changePasswordForm.password2.$dirty" class="text-assertive">Las contraseñas no coinciden</span>
      </label>
      <input ng-disabled="changePasswordForm.$invalid  || (user.password1 != user.password2)" type="submit" class="button button-block button-inci" value="Cambiar contraseña">
    </form>
  </ion-content>
</ion-view>
