<ion-view title="Configuraciones">
  <ion-content class="padding">
    <div class="row padding item">
      <div class="col col-50 divIcon item-avatar">
        <a ui-sref="configurations-changePassword"><h2>Cambiar contraseña</h2></a>
        <a ui-sref="configurations-changePassword"><img src="./img/6.svg" alt="Cambia tu contraseña"></a>
      </div>
      <div class="col col-50 divIcon item-avatar">
        <a ui-sref="configurations-update"><h2>Actualizar perfil</h2></a>
        <a ui-sref="configurations-update"><img src="./img/10.svg" alt="Actualiza tu perfil"></a>
      </div>
    </div>
    <div class="row padding item">
      <div class="col col-50 divIcon item-avatar">
        <a ui-sref="configurations-help"><h2>Ayuda</h2></a>
        <a ui-sref="configurations-help"><img src="./img/7.svg" alt="Entra a ayuda"></a>
      </div>
      <div class="col col-50 divIcon item-avatar">
        <a ui-sref="configurations-about"><h2>Acerca de</h2></a>
        <a ui-sref="configurations-about"><img src="./img/9.svg" alt="Entra al Acerca de"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
