<ion-view title="Ayuda">
    <ion-content class="padding">
        <div class="list card">

            <div class="item ">
                <h2>Accesibilidad</h2>
            </div>

            <div class="item item-body">
                <p>
                    Puedes utiliza la navegación por encabezados, hará más ágil el uso de esta aplicación.
                </p>
            </div>

            <div class="item ">
                <h2>Evaluación</h2>
            </div>

            <div class="item item-body">
                <p>
                    Presenta el listado de instituciones o organizaciones la cual la persona con discapacidad visual se encuentre inscrita, y dentro a cada una de ellas encontraremos el grupo al que pertenece cada persona, donde encontrará el examen que debe presentar ingresando el código que proveerá el docente o director de la prueba.
                    <h3>Accesibilidad:</h3>
                    En el momento de presentar la evaluación puedes desplazarte por los encabezados de las preguntas, cuándo utilices la opción de preguntas no contestadas los encabezados de las preguntas contestadas desaparecerán.
                </p>
            </div>

            <div class="item ">
                <h2>Evalúate</h2>
            </div>


            <div class="item item-body">
                <p>
                    Presenta el banco de preguntas por área de conocimiento donde las personas podrán practicar y prepararse para sus pruebas evaluativas eso genera un promedio de aprendizaje.
                    <h3>Accesibilidad:</h3>
                    En el momento de presentar la evaluación puedes desplazarte por los encabezados de las preguntas, cuándo utilices la opción de preguntas no contestadas los encabezados de las preguntas contestadas desaparecerán.
                </p>
            </div>

            <div class="item ">
                <h2>Resultados</h2>
            </div>

            <div class="item item-body">
                <p>
                    Observaran los resultados de las pruebas que se va presentado y se encontraran por periodos.

                </p>
            </div>

            <div class="item ">
                <h2>Promedio Aprendizaje</h2>
            </div>

            <div class="item item-body">
                <p>Es el ponderado de las practicas que has realizado en el banco de preguntas de evalúate. Veras el número de preguntas que has acertado, así como tu promedio, el número de preguntas que te faltan para alcanzar el próximo nivel de estatus. Entre más practiques, más aumentaras tu promedio.</p>
                <p>Evaluon cuenta con 6 niveles de estatus, que irás alcanzando a medida de que hayas resuelto más preguntas:</p>
                <ul>
                    <li>Bronce: Es el primer estatus por llegar a los  8 puntos, es muy fácil de llegar allí, sigue respondiendo preguntas de diferentes asignaturas y llega a Plata</li>
                    <li>Plata: Solo un poco de tiempo para llegar hasta aquí con 64 puntos, pero desafía tu conocimiento y sigue practicando.</li>
                    <li>Oro: Ahora tienes 512  puntos cada vez te vas convirtiendo en un sabelo todo, que esperas quieres ser el mejor? y ganar puntos extras con tus evaluadores? sigue en marcha.</li>
                    <li>Platino: Debes tener entre 512 y 4096 puntos no es tarea facil pero confiamos en ti, así que no te rindas, el banco de preguntas son infinitas para lograr este puntaje.</li>
                    <li>Diamante: Entre 4.096 y 32.768 puntos. Ya eres un berraco poder llegar hasta aquí muy buen trabajo eres un honorable estudiante que podrás generar un gran impacto entre sus compañeros y evaluadores, te has ganado el reconocimiento que mereces.</li>
                    <li>Ultimate: Animate para tener 32.768 y 262.144 puntos, o más, quieres ser el gurú de tu institución llega a este nivel y logra el desafío más honorable de nuestro pais.</li>
                </ul>
            </div>

            <div class="item ">
                <h2>Configuraciones</h2>
            </div>

            <div class="item item-body">
                <p>
                    Permite los cambio de contraseña, solicitar ayuda, y conocer un poco más sobre la aplicación.

                </p>
            </div>

        </div>
    </ion-content>
</ion-view>
