<ion-view title="Ayuda">
    <ion-content class="padding">
        <div class="list card">

            <div class="item">
                <h2>Accesibilidad</h2>
            </div>

            <div class="item item-body">
                <p>
                    Puedes utiliza la navegación por encabezados, hará más ágil el uso de esta aplicación.
                </p>
            </div>

            <div class="item ">
                <h2>Evaluación</h2>
            </div>

            <div class="item item-body">
                <p>
                    Presenta el listado de instituciones o organizaciones la cual la persona con discapacidad visual se encuentre inscrita, y dentro a cada una de ellas encontraremos el grupo al que pertenece cada persona, donde encontrará el examen que debe presentar ingresando el código que proveerá el docente o director de la prueba.
                </p>
                <h3>Accesibilidad:</h3>
                <p>
                    En el momento de presentar la evaluación puedes desplazarte por los encabezados de las preguntas, cuándo utilices la opción de preguntas no contestadas los encabezados de las preguntas contestadas desaparecerán.
                </p>
            </div>

            <div class="item ">
                <h2>Evalúate</h2>
            </div>


            <div class="item item-body">
                <p>
                    Presenta el banco de preguntas por área de conocimiento donde las personas podrán practicar y prepararse para sus pruebas evaluativas eso genera un promedio de aprendizaje.
                </p>
                <h3>Accesibilidad:</h3>
                <p>
                    En el momento de presentar la evaluación puedes desplazarte por los encabezados de las preguntas, cuándo utilices la opción de preguntas no contestadas los encabezados de las preguntas contestadas desaparecerán.
                </p>
            </div>

            <div class="item ">
                <h2>Resultados</h2>
            </div>

            <div class="item item-body">
                <p>
                    Observaran los resultados de las pruebas que se va presentado y se encontraran por periodos.

                </p>
            </div>

            <div class="item ">
                <h2>Promedio Aprendizaje</h2>
            </div>

            <div class="item item-body">
                <p>Es el ponderado de las practicas que haz realizados en el banco de preguntas de evalúate, veras las preguntas acertadas, promedio, preguntas para el próximo exxamen que genera unos puntos y un estatus, entre más practicas la personas más aumentara su promedio.</p>

            </div>

            <div class="item ">
                <h2>Configuraciones</h2>
            </div>

            <div class="item item-body">
                <p>
                    Permite los cambio de contraseña, solicitar ayuda, y conocer un poco más sobre la aplicación.

                </p>
            </div>


        </div>
    </ion-content>
</ion-view>
