<ion-view title="Ayuda">
    <ion-content class="padding">
        <div class="list card">

            <div class="item ">
                <h2>Evaluación</h2>
            </div>

            <div class="item item-body">
                <p>
                    <h3>Accesibilidad:</h3>
                    Puedes desplazarte
                </p>
            </div>

            <div class="item ">
                <h2>Evalúate</h2>
            </div>

            <div class="item item-body">

            </div>

            <div class="item ">
                <h2>Resultados</h2>
            </div>

            <div class="item item-body">

            </div>

            <div class="item ">
                <h2>Promedio Aprendizaje</h2>
            </div>

            <div class="item item-body">

            </div>

            <div class="item ">
                <h2>Configuraciones</h2>
            </div>

            <div class="item item-body">

            </div>


        </div>
    </ion-content>
</ion-view>
