<ion-view title="Promedio de Aprendizaje">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <p> Desde: {{user.register_date | date: 'MMM d, yyyy' : 'cot'}}</p>
      </div>

      <div class="item item-body" class="text-center">
        <div class="row">
          <div class="col col-80 col-offset-10 text-center">
            <i ng-if="!indicators.levelName" class="ion-load-a"></i>
            <img ng-if="indicators.levelName" class="full-image" src="img/indicators/{{indicators.levelName}}.svg" alt="Grado {{levels[indicators.levelName]}}">
          </div>
        </div>
        <p>
          Grado {{levels[indicators.levelName]}}, descripción
        </p>
      </div>

      <a class="item item-icon-left assertive" href="">
        <i class="icon ion-checkmark-round" alt="Preguntas acertadas"></i>
          {{indicators.questions}} Preguntas acertadas
      </a>
      <a class="item item-icon-left assertive" href="">
        <i class="icon ion-stats-bars" alt="Promedio"></i>
          Promedio:  {{indicators.average}}
      </a>
      <a class="item item-icon-left assertive" href="">
        <i class="icon ion-ios7-star-half" alt="Preguntas para el próximo grado"></i>
          {{indicators.remainingQuestions}} Preguntas para el próximo grado
      </a>

    </div>
  </ion-content>
</ion-view>
