<ion-view title="Materias">
  <ion-content class="padding">
    <div class="row padding">
      <div class="col divIcon">
        <h2>Ciencias</h2>
        <a href=""><img src="img/9.png" alt="Entra a realizar una nueva evaluación de Ciencias"></a>
      </div>
      <div class="col divIcon">
        <h2>Química</h2>
        <a href=""><img src="./img/10.png" alt="Entra a realizar una nueva evaluación de Química"></a>
      </div>
    </div>
    <div class="row padding">
      <div class="col divIcon">
        <h2>Matemáticas</h2>
        <a href=""><img src="./img/11.png" alt="Entra a realizar una nueva evaluación de Matemáticas"></a>
      </div>
      <div class="col divIcon">
        <h2>Biología</h2>
        <a ui-sref="test"><img src="./img/12.png" alt="Entra a realizar una nueva evaluación de Biología"></a>
      </div>
    </div>
    <div class="row padding">
      <div class="col divIcon">
        <h2>Física</h2>
        <a href=""><img src="./img/13.png" alt="Entra a realizar una nueva evaluación de Física"></a>
      </div>
      <div class="col divIcon">
        <h2>Literatura</h2>
        <a href=""><img src="./img/14.png" alt="Entra a realizar una nueva evaluación de Literatura"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
