<ion-view title="Menu Evaluación">
  <ion-content class="padding">
    <div class="row padding">
      <div class="col divIcon">
        <h2>Colegio Inem</h2>
        <a ui-sref="evaluacion-materias"><img src="./img/5.png" alt="Colegio Inem de Bucaramamnga"></a>
      </div>
      <div class="col divIcon">
        <h2>Sena</h2>
        <a ui-sref="evaluacion-materias"><img src="./img/6.png" alt="ICFES año 2014"></a>
      </div>
    </div>
    <div class="row padding">
      <div class="col divIcon">
        <h2>Icfes </h2>
        <a ui-sref="evaluacion-materias"><img src="./img/7.png" alt="SENA Colombia seccional Bucaramanga"></a>
      </div>
      <div class="col divIcon">
        <h2>Pre-Universitario</h2>
        <a ui-sref="evaluacion-materias"><img src="./img/8.png" alt="Pre-icfes instituto CIIE"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
