<ion-view title="Menú Principal" hide-back-button="true">
  <ion-content class="padding">
    <div class="row padding">
      <div class="col divIcon">
        <h2>Evaluación</h2>
        <a ui-sref="evaluation"><img src="./img/1.png" alt="Encuentra las pruebas que debes presentar según su asignatura"></a>
      </div>
      <div class="col divIcon">
        <h2>Evalúate</h2>
        <a ui-sref="evaluate"><img src="./img/2.png" alt="Reta tu conocimiento y prepárate para tus pruebas"></a>
      </div>
    </div>
    <div class="row padding">
      <div class="col divIcon">
        <h2>Resultados</h2>
        <a href=""><img src="./img/3.png" alt="Revisa el puntaje en poco tiempo y la retroalimentación para mejorar "></a>
      </div>
      <div class="col divIcon">
        <h2>Promedio Aprendizaje</h2>
        <a href=""><img src="./img/4.png" alt="Conoce los avances de tus conocimiento"></a>
      </div>
    </div>
    <div class="row padding">
      <div class="col divIcon">
        <h2>Configuraciones</h2>
        <a href=""><img src="./img/3.png" alt="Configura tu aplicación"></a>
      </div>
      <div class="col divIcon">
        <h2>Cerrar Sesión</h2>
        <a href="" ng-click="logout()"><img src="./img/4.png" alt="Cierra esta sesión"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
