<ion-view title="Iniciar Sesión" hide-back-button="true" >
  <ion-content class="padding">
    <form class="list" ng-submit="login($event)">
      <label class="item item-input">
        <span class="input-label" tabindex="-1">Correo</span>
        <input type="email" aria-describedby="login-user-input-text" ng-model="user.username" required>
        <p id="login-user-input-text" class="aria-description">Ingrese el correo</p>
      </label>
      <label class="item item-input">
        <span class="input-label" tabindex="-1">Contraseña</span>
        <input type="password" aria-describedby="login-user-input-pass" ng-model="user.password" required>
        <p id="login-user-input-pass" class="aria-description">Ingrese la contraseña</p>
      </label>
      <input type="submit" class="button button-block button-inci" value="Iniciar Sesion" ng-model="user.password">
    </form>
    <a ui-sref="registro" ><button class="button button-block button-inci">Registrarse</button></a>
  </ion-content>
</ion-view>
